<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable] min-h-[100vh]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="Wander" suffix="">
      {assigns[:page_title]}
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/wander/global.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/global.js"}></script>
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}></script>
  </head>
  <body class={[
    "min-h-[100vh]",
    "bg-white text-black",
    "dark:bg-[#0f0f0f] dark:text-white"
  ]}>
    {@inner_content}
  </body>
</html>
